<!-- Navbar Sidebar -->
<div class="d-flex">
    <nav class="sidebar bg-dark text-white vh-100">
        <div class="p-3">
            <h2 class="text-center">pharmacare</h2>
            <ul class="nav flex-column mt-4">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link text-white">
                        <i class="fas fa-tachometer-alt"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/doctor-orders" class="nav-link text-white">
                        <i class="fas fa-file-medical"></i> Doctor Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/medicaments" class="nav-link text-white">
                        <i class="fas fa-cash-register"></i> PoS
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/suppliers" class="nav-link text-white">
                        <i class="fas fa-truck"></i> Suppliers
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link text-white">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
